<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> 发布公告 </title>
    </head>
    <body>
        <center>
            <div>
                <form method="POST">
                    <table>
                        <tr>
                            <td>标题：</td>
                            <td><input type="text" name="title"></input></td>
                        </tr>

                        <tr>
                            <td>内容：</td>
                            <td><textarea name="content"></textarea></td>
                        </tr>
                    </table>
                    <input type="submit" value="提交" />
                    <a style="text-align: right;" href="/">返回主页</a>
                </form>
            </div>
        </center>
    </body>
</html>