<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> 用户注册 </title>
    </head>
    <body>
        <center>
            <div>
                <form method="POST">
                    <p>姓名：<input type="text" name="name" /></p>
                    <p>密码：<input type="password" name="pswd" /></p>
                    <input type="submit" value="注册" />
                </form>
                <a style="text-align: right;" href="/login">登录</a>
                <a style="text-align: right;" href="/">返回主页</a>
            </div>
        </center>
    </body>
</html>